<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>

  </configSections>
  <connectionStrings>
    <add name="CBSTransactionDB" connectionString="Server=54.154.93.6, 5634;Database=CBSTransactionDB;user Id=sysapp;Password=App@1234;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
    <!--<add name="CBSTransactionDB" connectionString="Server=10.61.4.157, 5634;Database=CBSTransactionDB;user Id=sysapp;Password=App@1234;TrustServerCertificate=True" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="DefaultConnection_ConnectionString" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="CSPHeader_Dev" value="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.google.com https://www.gstatic.com https://cdnjs.cloudflare.com https://unpkg.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdnjs.cloudflare.com https://unpkg.com; font-src 'self' https://fonts.gstatic.com https://cdnjs.cloudflare.com data:; img-src 'self' data: https:; connect-src 'self' https://localhost:44346; frame-src 'self' https://www.google.com;"/>
    <add key="CSPHeader_Test" value="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.google.com https://www.gstatic.com https://cdnjs.cloudflare.com https://unpkg.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdnjs.cloudflare.com https://unpkg.com; font-src 'self' https://fonts.gstatic.com https://cdnjs.cloudflare.com data:; img-src 'self' data: https:; connect-src 'self' https://bapcculcbs.com/; frame-src 'self' https://www.google.com;"/>
    <add key="CSPHeader_Prod" value="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.google.com https://www.gstatic.com https://cdnjs.cloudflare.com https://unpkg.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdnjs.cloudflare.com https://unpkg.com; font-src 'self' https://fonts.gstatic.com https://cdnjs.cloudflare.com data:; img-src 'self' data: https:; connect-src 'self' https://camccul-bapccul.fluxtbcredit.com/; frame-src 'self' https://www.google.com;"/>
    <add key="AllowedOrigins" value="https://localhost:44346,https://bapcculcbs.com,https://camccul-bapccul.fluxtbcredit.com"/>

	<!--<Vb Test Bed end points-->
    <!--<add key="AllowedOrigins" value="https://localhost:44346,https://bapcculcbs-vb.com,https://camccul-bapccul.fluxtbcredit.com" />-->
    
	  
	  <add key="DevWhitelistIPs" value="127.0.0.1,192.168.0.99"/>
     <!--if (EnvironmentName == "Development" && entry.index == 0)
                return true;
            if (EnvironmentName == "TestBed" && entry.index == 1)
                return true;
            if (EnvironmentName == "Production" && entry.index == 2)
                return true;-->
    
    <!--<Test Bed end points-->
    <add key="IdentityServerBaseUrl" value="https://identity.bapcculcbs.com/"/>
    <!--<add key="AccountingBaseUrl" value="https://apigwe.bapcculcbs.com/Api/Gateway/Fluxcam/Accounting/"/>-->
    <add key="LoanBaseUrl" value="https://apigwe.bapcculcbs.com/Api/Gateway/Fluxcam/Loan/"/>
    <add key="BankConfigurationBaseUrl" value="https://apigwe.bapcculcbs.com/Api/Gateway/Fluxcam/Bank/"/>
    <add key="CustomerBaseUrl" value="https://apigwe.bapcculcbs.com/Api/Gateway/Fluxcam/Members/"/>
    <add key="TransactionBaseUrl" value="https://apigwe.bapcculcbs.com/Api/Gateway/Fluxcam/Transaction/"/>
    <add key="CommunicationBaseUrl" value="https://apigwe.bapcculcbs.com/Api/Gateway/Fluxcam/Communication/"/>
    <add key="SystemConfigurationBaseUrl" value="https://apigwe.bapcculcbs.com/Api/Gateway/Fluxcam/Localization/"/>
    <add key="DailyCollectionBaseUrl" value="https://apigwe.bapcculcbs.com/Api/Gateway/Fluxcam/DailyCollections/"/>
    <add key="URLConf_Environment" value="TestBed"/>
    
    
    
    
    <!--<Dev end points-->
    <!--<add key="IdentityServerBaseUrl" value="https://localhost:44313/" />--> 
    <!--<add key="AccountingBaseUrl" value="https://localhost:5239/Api/Gateway/Fluxcam/Accounting/" />-->
    <add key="AccountingBaseUrl" value=" https://localhost:57981/" />
    <!--<add key="LoanBaseUrl" value="https://localhost:5239/Api/Gateway/Fluxcam/Loan/"/>-->
    <!--<add key="BankConfigurationBaseUrl" value="https://localhost:7085/" />-->
    <!--<add key="BankConfigurationBaseUrl" value="https://localhost:5239/Api/Gateway/Fluxcam/Bank/" />-->
    <!--<add key="CustomerBaseUrl" value="https://localhost:5239/Api/Gateway/Fluxcam/Members/" />-->
    <!--<add key="TransactionBaseUrl" value="https://localhost:5239/Api/Gateway/Fluxcam/Transaction/"/>-->
    <!--<add key="CommunicationBaseUrl" value="https://localhost:5239/Api/Gateway/Fluxcam/Communication/" />-->
    <!--<add key="DailyCollectionBaseUrl" value="https://localhost:5239/Api/Gateway/Fluxcam/DailyCollections/" />-->
    <!--<add key="URLConf_Environment" value="Development"/>-->
    <!--<add key="TransactionBaseUrl" value="https://localhost:7113/" />-->
    <!--<add key="DailyCollectionBaseUrl" value="https://localhost:7034/" />-->
    
    
    
    <!--<Production end points-->
    <!--<add key="IdentityServerBaseUrl" value="https://identity.fluxtbcredit.com/" />
    <add key="AccountingBaseUrl" value="http://localhost:35634/Api/Gateway/Fluxcam/Accounting/" />
    <add key="LoanBaseUrl" value="http://localhost:35634/Api/Gateway/Fluxcam/Loan/" />
    <add key="BankConfigurationBaseUrl" value="http://localhost:35634/Api/Gateway/Fluxcam/Bank/" />
    <add key="CustomerBaseUrl" value="http://localhost:35634/Api/Gateway/Fluxcam/Members/" />
    <add key="TransactionBaseUrl" value="http://localhost:35634/Api/Gateway/Fluxcam/Transaction/" />
    <add key="CommunicationBaseUrl" value="http://localhost:35634/Api/Gateway/Fluxcam/Communication/" />
    <add key="DailyCollectionBaseUrl" value="http://localhost:35634/Api/Gateway/Fluxcam/DailyCollections/" />
    <add key="SystemConfigurationBaseUrl" value="http://localhost:35634/Api/Gateway/Fluxcam/Localization/" />
    <add key="URLConf_Environment" value="Production" />-->

    <add key="AuthenthicationUrl" value="/api/Authentication/Session/Login"/>
    <add key="timetoExpire" value="240"/>
    <add key="senderEmailid" value="enzyrio212@gmail.com"/>
    <add key="password" value="Johnson1"/>
    <add key="host" value="smtp.gmail.com"/>
    <add key="host" value="smtp.office365.com"/>
    <add key="port" value="587"/>
    <add key="enableSsl" value="true"/>
    <add key="deliveryMethod" value="SmtpDeliveryMethod.Network"/>
    <add key="displayName" value="FLUXSARL-INFO"/>
    <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="CBS.FrontDesk.UI"/>
    <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false"/>
    <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true"/>
  </appSettings>
  <system.web>
    <!--<httpRuntime executionTimeout="110" maxRequestLength="4096" />-->
    <!--<sessionState timeout="20" />-->
    <httpCookies httpOnlyCookies="true" requireSSL="true" sameSite="Strict"/>
    <sessionState cookieless="UseCookies" timeout="240"/>
    <!--<sessionState mode="InProc" cookieless="false" timeout="60" />-->
    <compilation targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Authentication/Login" timeout="240" requireSSL="true"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="SHA1" decryption="AES"/>
    <!--<customErrors mode="Off" />-->
    <!-- Enable custom errors -->
    <customErrors mode="On" defaultRedirect="~/Error/Index">
      <error statusCode="400" redirect="~/Error/Show/400"/>
      <error statusCode="401" redirect="~/Error/Show/401"/>
      <error statusCode="403" redirect="~/Error/Show/403"/>
      <error statusCode="404" redirect="~/Error/Show/404"/>
      <error statusCode="408" redirect="~/Error/Show/408"/>
      <error statusCode="429" redirect="~/Error/Show/429"/>
      <error statusCode="500" redirect="~/Error/Show/500"/>
      <error statusCode="502" redirect="~/Error/Show/502"/>
      <error statusCode="503" redirect="~/Error/Show/503"/>
      <error statusCode="504" redirect="~/Error/Show/504"/>
    </customErrors>
    <membership defaultProvider="CustomMembership">
      <providers>
        <clear/>
        <add name="CustomMembership" type="CBS.FrontDesk.Service.CustomMembership"/>
      </providers>
    </membership>
    <roleManager defaultProvider="CustomRole" enabled="true">
      <providers>
        <clear/>
        <add name="CustomRole" type="CBS.FrontDesk.Service.CustomRole"/>
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="MvcSiteMapProvider.Web.Html"/>
        <add namespace="MvcSiteMapProvider.Web.Html.Models"/>
      </namespaces>
    </pages>
    <!--<httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx"
           type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
    </httpHandlers>-->
  </system.web>
  <system.webServer>
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough"/>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <!--<add segment="DataSet" />-->
          <!--<add segment="CBSTemp" />-->
          <!--<add segment="AppFiles" />-->
          <!--<add segment="Helper" />-->
          <!--<add segment="Hub" />-->
          <!--<add segment="Loaders" />-->
          <!--<add segment="Models" />-->
          <!--<add segment="RateLimitConfig" />-->
          <!--<add segment="ReportForm" />-->
          <!--<add segment="Utility" />-->
          <!--<add segment="Views" />-->
          <!--<add segment=".git" />-->
        </hiddenSegments>
      </requestFiltering>
    </security>
    <handlers>
      <add name="CrystalImageHandler" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
      <remove name="PageHandlerFactory-Integrated"/>
      <add name="PageHandlerFactory-Integrated" path="*.aspx" verb="*" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" requireAccess="Script"/>
      <!--<add name="ClientDataHandler" path="api/client-data" verb="POST" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc" resourceType="Unspecified" />
      <add name="LoginDataHandler" path="api/login-data" verb="POST" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc" resourceType="Unspecified" />-->
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload"/>
        <add name="X-Frame-Options" value="DENY"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="X-XSS-Protection" value="1; mode=block"/>
        <remove name="X-Powered-By"/>
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <!-- 1️⃣ Redirect HTTP to HTTPS -->
        <rule name="Redirect to https" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent"/>
        </rule>
        <!-- 2️⃣ Block localhost if enabled -->
        <!--
    <rule name="Block Localhost" stopProcessing="true">
      <match url=".*" />
      <conditions>
        <add input="{HTTP_HOST}" pattern="^localhost(:[0-9]+)?$" />
        <add input="{AppSettings:BlockLocalhost}" pattern="^true$" />
      </conditions>
      <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Localhost access is blocked." />
    </rule>-->
      </rules>
    </rewrite>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule-4.0"/>
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="managedHandler"/>
      <add name="ResponseCaptureMiddleware" type="CBS.FrontDesk.UI.WAF.Middleware.Core.ResponsCapture.ResponseCaptureMiddleware, CBS.FrontDesk.UI" preCondition="managedHandler"/>
      <add name="TSCWAFMiddleware" type="CBS.FrontDesk.UI.WAF.Middleware.Core.TSCWAFMiddleware, CBS.FrontDesk.UI" preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IO.Pipelines" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNetCore.WebSockets" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNetCore.Routing" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNetCore.Http.Features" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.0.17.0" newVersion="5.0.17.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNetCore.Http" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ClosedXML" publicKeyToken="FD1EB21B62AE805B" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-0.102.2.0" newVersion="0.102.2.0"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.11.7.0" newVersion="5.11.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.10" newVersion="6.0.0.10"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.1.0" newVersion="7.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.3.0" newVersion="7.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.3.0" newVersion="7.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.3.0" newVersion="7.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.JsonWebTokens" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.3.0" newVersion="7.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.65.0.0" newVersion="4.65.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.44.1.0" newVersion="1.44.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Identity" publicKeyToken="92742159e12e44c8" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.13.0.0" newVersion="1.13.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.3.0" newVersion="7.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v15.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
	
</configuration>
<!--ProjectGuid: F172CEF7-2184-42D1-A424-96A61F821312-->
